/* 전체 섹션 */
.activities {
    padding: 4rem 2rem;
    background: linear-gradient(145deg, #121212, #1a1a1a);
    color: #e5e5e5;
    text-align: center;
  }
  
  /* 제목 스타일 */
  .title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
    letter-spacing: 5px;
  }

  .sectionDescription {
    word-break: keep-all;
  }
  /* 소개 텍스트 */
  .intro {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #d3d3d3;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }
  
  /* 섹션 */
  .section {
    margin-bottom: 4rem;
  }
  
  /* 중앙 정렬된 섹션 (AIESEC) */
  .centerAligned .cardContainer {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    gap: 2rem; /* 카드 간격 */
    flex-wrap: wrap; /* 2개 이상일 경우 줄바꿈 */
  }
  
  /* 섹션 제목 */
  .sectionTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #e91e63; /* 부드러운 포인트 색상 */
  }
  
  /* 섹션 설명 */
  .sectionDescription {
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }
  
  /* 카드 컨테이너 */
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }
  
  /* 카드 스타일 */
  .card {
    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 350px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
  }
  
  /* 카드 제목 */
  .cardTitle {
    font-size: 1.5rem;
    color: #61dafb;
    margin-bottom: 0.5rem;
  }
  
  /* 카드 내용 */
  .cardContent {
    font-size: 1rem;
    color: #cccccc;
    line-height: 1.6;
  }
  