.platformDetail {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  /* 섹션 간 여백 추가 */
  .section {
    margin-bottom: 50px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* 대체 섹션 배경 */
  .section:nth-child(even) {
    background: #ffffff;
  }
  
  /* 섹션 제목 스타일 */
  .sectionTitle {
    font-size: 24px;
    color: #423E59;
    margin-bottom: 20px;
  }
  
  /* 설명 텍스트 스타일 */
  .description {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-top: 15px;
  }
  
  /* 이미지 스타일 */
  .image {
    max-width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* 버튼 컨테이너 */
  .buttonContainer {
    text-align: center;
    margin-top: 30px;
  }
  
  /* 버튼 스타일 */
  .backButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #423E59;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #514d6b;
  }
  .image {
    max-width: 80%; /* 이미지가 너무 크지 않도록 제한 */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  